{% extends 'Mywebsite/header.html' %}

{% block content %}
้<h4>เพิ่มข้อมูลข่าวสาร</h4>
<form action="{% url 'result' %}" method="GET">
    <!-- {% csrf_token %} -->
    <div class="form-group">
        <label for="">ชื่อข่าวสาร</label>
        <input type="text" class="form-control" name="name_news">
    </div>
    <div class="form-group">
        <label for="">รายละเอียดข่าวสาร</label>
        <textarea type="text" class="form-control" name="name_detail" rows="5"></textarea>
    </div>
    <div class="form-group">
        <input type="file" name="files" accept="image/x-png,image/gif,image/jpeg,image/jpg">
        <img id="blah" src="#" alt="" class="img-thumbnail">
    </div>
    <input type="submit" class="btn btn-success" value="บันทึกข่าวสาร">
</form>
{% endblock %}